<!DOCTYPE html>
<html lang='es-ES' mozNoMarginBoxes>
  <head>
    <meta charset="utf-8">
    <title>Etiquetas FCT</title>
    <style>
    @page  
    { 
      size: A4;   /* auto is the initial value */ 
      /* this affects the margin in the printer settings */
      margin: 5mm;
    } 

    body {
      /* A4: 210 × 297*/
      width: 210mm;
      height: 297mm;
      padding: 0;
      font: 8pt sans-serif;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
    }

    .etiqueta{
      box-sizing: border-box;
      flex: 0 1 auto;
      width: 52.4mm; /*4 etiquetas a lo ancho */
      height: 29.7mm; /* 10 etiquetas a lo alto */
      padding: 1mm;
      margin: 0cm; /* Sin márgenes */
      text-align: left;
      overflow: hidden;
      outline: 1px dotted; /* outline doesn't occupy space like border does */
      display: flex;
      justify-content: center;
      line-height: 1.5em;
    }
    
    .etiqueta_content {
      align-self: center;
    }

    .titulo {
      display: inline-block;
      width: 5em;
      text-decoration: underline;
    }

    .valor {
      display: inline-block;
      width: 12em;
      vertical-align: middle;

    }

    .ciclo {
      font: 7pt sans-serif;
    }

    .etiqueta.vacia {
      display: none;
    }

    #control {
      font: 12pt sans-serif;
      margin: 2em;
      padding: 1em;
      border: 1px dotted red;
    }

    @media print {
      #control {
	display: none;
      }
    }
    
    </style>
  </head>
  <body>
    <div id="control">
      <h1>Impresión de etiquetas FCT</h1>
      Empezar en etiqueta número: <input value="0" onchange="cambia_offset(this.value)" onkeyup="cambia_offset(this.value)" type="number" id="num_offset" min="0" max="40">
    </div>
    <div class="container">
      <% for(var i=0; i<39; i++) {%>
	<div class="etiqueta vacia"></div>
      <% } %>
      <% for(var i=0; i<fcts.length; i++) {%>
	<div class="etiqueta rellena">
	  <div class="etiqueta_content">
	    <span class="titulo">Alumno:</span> <span class="valor"><%= fcts[i].alumno %><br></span>
	    <span class="titulo">Empresa:</span> <span class="valor"><%= fcts[i].empresa %><br></span>
	    <span class="titulo">Tutor:</span> <span class="valor"><%= fcts[i].tutor %><br></span>
	    <span class="titulo">Ciclo:</span> <span class="valor ciclo"><%= fcts[i].ciclo %></span>
	  </div>
	</div>
      <% } %>
    </div>

    <script>
    function cambia_offset(val) {
      var v = val%40;
      var vacias = document.querySelectorAll(".vacia");
      
      for (i=0; i<39; i++) {
	if (i<v) {
	  vacias[i].style.display = 'block';
	} else {
	  vacias[i].style.display = 'none';
	}
      }
    }
    </script>
  </body>
</html>



