header, main, footer {
    padding-left: 240px;
}

legend {
    display: none;
}

fieldset {
    border: 0;
}

.collection .item-links, .collection .item-actions {
    text-align: right;
}

.collection li {
    display: flex;
    
}

.collection .item-actions {
    flex: 1 1 0;
    order: 3;
}

.collection .item-links {
    flex: 1 1 0;
    order: 2;
}

.collection .item-data {
    flex: 5 1 0;
    order: 1;
}

.item-href {
    display: none;
}

.item-data .prompt {
    display: none;
}


/* Ocultar datos de los items*/
.item-data-object {
    display: none;
}

.item-data-object.empresa, .item-data-object.alumno {
    display: block;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
	padding-left: 0;
    }
}