header, main, footer {
    padding-left: 240px;
}

legend {
    display: none;
}

fieldset {
    border: 0;
}

.collection .item-links, .collection .item-actions {
    text-align: right;
}

.collection li {
    display: flex;
    
}

.collection .item-actions {
    flex: 1 1 0;
    order: 3;
}

.collection .item-links {
    flex: 1 1 0;
    order: 2;
}

.collection .item-data {
    flex: 5 1 0;
    order: 1;
}

.item-href {
    display: none;
}

.item-data .prompt {
    display: none;
}


/* Ocultar datos de los items*/
.item-data-object.nif_alumno, .item-data-object.horas, .item-data-object.fecha_fin, .item-data-object.fecha_inicio, .item-data-object.periodo, .item-data-object.curso, .item-data-object.instructor, .item-data-object.nif_instructor .item-data-object.tutor, .item-data-object.grupo, .item-data-object.ciclo, .item-data-object.localidad, .item-data-object.dir_empresa, .item-data-object.distancia {
    display: none;
}

/*.item-data-object.empresa, .item-data-object.alumno, .item-data-object.mensaje {
    display: block;
}*/

.item-data-object.mensaje .value {
    display: none;
}

.item-data-object.mensaje .prompt {
    display: block;
}

#dump {
    display: none;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
	padding-left: 0;
    }
}