<link rel='ractive' href='./collection-template.html' name='template'>

{{#if collection.templateLinks}}
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="col-actions" class="btn-group">
	{{#collection.templateLinks }}
	  <button type="button" class="btn btn-default" rel="{{rel}}" on-click="followLink">{{prompt}}</button>
	{{/collection.templateLinks}}
      </div>
    </div>
  </div>
{{/if}}

{{^collection.templateLinks}}
  <template collection="{{collection}}"/>
{{/collection.templateLinks}}
