<link rel='ractive' href='./collection-navigation.html' name='col-navigation'>
<link rel='ractive' href='./collection-error.html' name='col-error'>
<link rel='ractive' href='./collection-actions.html' name='col-actions'>
<link rel='ractive' href='./collection-queries.html' name='col-queries'>
<link rel='ractive' href='./collection-items.html' name='col-items'>

<col-navigation collection="{{col_processed}}"/>
<main>
  <div class="container">
    <h1 id="title" class="">{{col_processed.title}}</h1>
    <col-error collection="{{col_processed}}"/>
    <col-queries collection="{{col_processed}}"/>
    <col-actions collection="{{col_processed}}"/>
    <col-items collection="{{col_processed}}"/>    
  </div>
</main>


<script>

// Only load if we are in browser
if (typeof window !== 'undefined') {
  require('fetch');
}


component.exports = {
  oninit: function() {
    this.on( '*.nc', function ( newcol ) {
      this.set('collection', newcol);
      return false;
    });
      
    this.on( '*.httpDelete', function ( event ) {
      var url = event.context.href;
      
      ins = this;

      // Ajax call and update collection
      fetch(url, {
	method: 'delete',
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json'
	}
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.set({'collection': JSON.parse(text).collection});
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;

    });

    /*this.on( '*.httpPost', function ( event ) {
      var col_url = this.get('collection.href');
      var col_template = this.get('collection.template');
      var send_template = {
	template: col_template
      };
      
      ins = this;

      // Ajax call and update collection
      fetch(col_url, {
	method: 'post',
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json',
	  'Content-Type': 'application/vnd.collection+json'
	},
	body: JSON.stringify(send_template)
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.set({'collection': JSON.parse(text).collection});
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;
      

    });*/
    
    this.on( '*.followLink', function ( event ) {
      var url = event.context.href;

      ins = this;

      // Ajax call and update collection
      fetch(url, {
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json'
	}
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.set({'collection': JSON.parse(text).collection});
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;

    });

    this.on( '*.httpQuery', function ( event ) {
      var query = event.context.href + "/?";
      var q = 0;
      for (var i in event.context.data) {
	var o = event.context.data[i];
	if (o.name && o.name!=='') {
	  if(q++!==0) {
	    query += "&";
	  }
	  query += o.name+"="+encodeURI(o.value);
	}
      }
      
      ins = this;

      // Ajax call and update collection
      fetch(query, {
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json'
	}
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.set({'collection': JSON.parse(text).collection});
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;
      

    });
    
  },

  computed: {
    col_processed: {
      get: function () {
	var cp = {};
	
	var c = this.get('collection');

	cp.version = c.version;
	cp.href = c.href;
	cp.links = c.links;
	cp.items = c.items;
	cp.queries = c.queries;
	cp.template = c.template;
	cp.error = c.error;

	// Added properties for links rel attributes
	cp.navLinks = [];
	cp.type = "";
	cp.profile = "";
	cp.headerLinks = [];
	cp.embeddedLinks = [];
	cp.attachedLinks = [];
	cp.templateLinks = [];

	// Process and filter Links by rel attribute
	if(c.links) {
	  
	  coll = c.links;
	  for(var link of coll) {

	    if(isHeaderLink(link)===true) {
	      cp.headerLinks.push(link);
	      continue;
	    }

	    // Store collection profile
	    if(isProfileLink(link)===true) {
	      cp.profile = link.href;
	      continue;
	    }

	    // Store collection type
	    if(isTypeLink(link)===true) {
	      // Type link is in format profile#type
	      cp.type = link.href.substr(link.href.indexOf('#')+1);
	      continue;
	    }
	    
	    // render embedded images, if asked
	    if(isImage(link)===true) {
	      cp.embeddedlinks.push(link);
	    }
	    else if(isAttachment(link)===true) {
	      cp.attachedLinks.push(link);
	    } else if(isTemplateLink(link)===true) {
	      cp.templateLinks.push(link);		    
	    }
	    else {
	      // Nav links
	      cp.navLinks.push(link);
	    }
	    
	  }
	}
	console.log(cp);
	return cp;
      },
      set: function (col_processed) {
	console.log('ey');
	this.set('collection', col_processed);
	console.log(this.get('collection'));
	console.log(this.get('col_processed'));
      }
    }
  }
};


// Aux functions
function isHeaderLink(link) {
  var rtn = false;
  if(link.render && (link.render==="none" || link.render==="hidden" || link.rel==="stylesheet")) {
    rtn = true;
  }
  return rtn;
}
function isAttachment(link) {
  var rtn = false;
  if(link.render && link.render==="attachment") {
    rtn = true;
  }
  return rtn;
}
function isTemplateLink(link) {
  var rtn = false;
  if(link.rel && link.rel.indexOf("template")>-1) {
    rtn = true;
  }
  return rtn;
}
function isProfileLink(link) {
  var rtn = false;
  if(link.rel && link.rel==="profile") {
    rtn = true;
  }
  return rtn;
}
function isTypeLink(link) {
  var rtn = false;
  if(link.rel && link.rel==="type") {
    rtn = true;
  }
  return rtn;
}
function isReadOnly(item) {
  var rtn = false;
  if(item.readOnly && (item.readOnly==="true" || item.readOnly===true)) {
    rtn = true;
  }
  return rtn;
}
function isImage(link) {
  var rtn = false;
  if(link.render && (link.render==="image" || link.render==="embed")) {
    rtn = true;
  }
  return rtn;
}


</script>
