<link rel='ractive' href='./collection-template.html' name='template'>
<link rel='ractive' href='./collection-queries.html' name='queries'>
<link rel='ractive' href='./collection-items.html' name='items'>

<header>
  <nav class="top-nav teal">
    <div class="container">
      <div class="nav-wrapper">
	<a href="#" class="button-collapse top-nav" data-activates="links"><i class="mdi-navigation-menu"></i></a>
	<a class="brand-logo">FCT IES Mare Nostrum</a>
      </div>
    </div>
    <ul id="links" class="side-nav fixed">
      {{# localnav(collection.links, 'type')}}
      <li><a rel="{{rel}}" href="{{href}}" on-click="followLink">{{prompt}}</a></li>
      {{/ links}}
    </ul>
  </nav>
  
  
</header>
<main>
  <div class="container">
    <h4 id="title" class="">{{collection.title}}</h4>    
    <div id="local-nav">
      <ul id="local-nav-list"></ul>
    </div>
    <div id="error"></div>
    <queries collection="{{collection}}"/>
    <template collection="{{collection}}"/>
    <items collection="{{collection}}"/>    
    <div>
      <pre id="dump"></pre>
    </div>
  </div>
</main>


<script>

var helpers = Ractive.defaults.data;
helpers.localnav = function(links, relation){
  return links.filter(function (el) {
    return el.rel.indexOf(relation) == -1;
  });
}






component.exports = {
  oncomplete: function () {
    
  }
};


</script>
