<link rel='ractive' href='./input-dynamic.html' name='inputdynamic'>

<!--
     Data:
     template
     item_href
   -->

<form class="edit" method="put" action="{{ item_href }}" on-submit="httpPut">
  {{#template.data}}
    <div class="form-group {{name}}">
      <inputdynamic data='{{.}}'/>
    </div>
  {{/}}

  <div class="submit-edit">
    <button class="btn btn-primary" type="submit">Enviar</button>
    <button class="btn btn-default" type="button" on-click="cancelEdit">Cancelar</button>
  </div>
</form>


<script>

require('fetch');

component.exports = {
  oninit: function() {
    this.on('cancelEdit', function(event) {
      this.set('showedit', false);
      return false;
    });

    this.on( 'httpPut', function ( event ) {
      var url = this.get('item_href');
      var template = {template: this.get('template')};
      
      ins = this;

      // Ajax call and update collection
      fetch(url, {
	method: 'put',
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json',
	  'Content-Type': 'application/vnd.collection+json'	  
	},
	body: JSON.stringify(template)
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.fire( 'nc', JSON.parse(text).collection );
	  ins.set('showedit', false);
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;

    });
    
  }
};


</script>
