<link rel='ractive' href='./collection-edit-template.html' name='cjedit'>

<div id="items">
  <ul>
    {{#collection.items}}
    <li>
  
	<div class="item-actions">
	  <a class="item-href" rel="{{ rel }}" href="{{ href }}" on-click="followLink">Ver</a>
	  {{#if collection.template}}
	    <button class="item-edit" rel="edit" on-click="showEditForm" disabled="{{showedit}}" >Editar</button>
	  {{/if}}
	  <button class="item-delete" on-click="httpDelete">Borrar</button>
	</div>

	<div class="item-data">
	  {{#data}}
	    <p>{{prompt}} - {{value}}</p>
	  {{/data}}
	</div>

	<div class="item-links">
	  {{#links}}
	    <p><a href="{{ href }}" res="{{ rel }}" on-click="followLink"> {{prompt}}</a></p>
	  {{/links}}
	</div>

	{{#if showedit }}<cjedit item_href="{{href}}" template="{{editTemplate}}" showedit="{{showedit}}" collection="{{collection}}"></cjedit>{{/if}}

      </li>
    {{/collection.items}}
  </ul>


</div>


<script>
component.exports = {
  oninit: function() {

    function cjData(item,name) {
      var coll, rtn;
      
      rtn = null;
      coll = item.data;
      for(var data of coll) {
	if(data.name === name) {
	  rtn = data;
	  break;
	}
      }
      return rtn;
    };

    this.on( 'showEditForm', function (event) {
      // Creamos item.showedit
      var showedit = true;
      var it = event.context;
      it.showedit = true;

      // Creamos item.editTemplate
      var template = this.get('collection.template');
      var item_data = event.context.data;
      var filled_template = {};
      filled_template.data = [];

      for (i of template.data) {
	i_d = cjData(event.context, i.name);
	var t_item = {};
	t_item.name = i.name;
	t_item.value = i_d.value || "";
	t_item.prompt = i.prompt;
	t_item.required = i.required;
	t_item.match = i.match;
	filled_template.data.push(t_item);
      }

      it.editTemplate = filled_template;

      // Actualizamos objeto item
      this.set(event.keypath, it);


      
      return false;
    });

  }
};


</script>



