<link rel='ractive' href='./input-dynamic.html' name='inputdynamic'>


<form class="add" method="post" action="{{collection.href}}" on-submit="httpPost">
  {{#collection.template.data}}
    <div class="input-field {{name}}">
      <label for="{{name}}" class="data">{{prompt}}</label>
      <!-- <input id="{{name}}" name="{{ changename(name) }}" value="{{value}}" type="{{ processinput(name) }}">  -->
      <inputdynamic data='{{.}}'/>
    </div>
  {{/}}

  <div class="submit-template">
    <button class="submit-template-button" type="submit">
  </div>
</form>


<script>

// Only load if we are in browser
if (typeof window !== 'undefined') {
  require('fetch');
}

component.exports = {
  oninit: function() {
    this.on( 'httpPost', function ( event ) {
      var c = this.get('collection');
      var url = c.href;
      var template = {template: c.template};
      
      ins = this;

      // Ajax call and update collection
      fetch(url, {
	method: 'post',
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json',
	  'Content-Type': 'application/vnd.collection+json'	  
	},
	body: JSON.stringify(template)
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.set({'collection': JSON.parse(text).collection});
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;

    });
    
  }
};


</script>
