<link rel='ractive' href='./input-dynamic.html' name='inputdynamic'>

<ul>
{{ #collection.queries }}
  <li class="{{ name }}">
    <div class="{{ title }}">
      {{ prompt  }}      
    </div>
    <form action="{{ href }}" class="{{ rel }}" method="get" on-submit="httpQuery">
      <fieldset>
	<legend>
	  {{ prompt }}
	</legend>
	{{ #data }}
	<div class="input-field {{name}}">
	  <label for="{{name}}" class="data">{{prompt}}</label>
	  <inputdynamic data='{{.}}'/>
	</div>
	{{ / }}
	<div class="submit-query">
	  <button type="submit" class="submit-query-button">Buscar</button>
	</div>
      </fieldset>      
    </form>
    
    
  </li>
{{  / }}

</ul>


<script>

// Only load if we are in browser
if (typeof window !== 'undefined') {
  require('fetch');
}

component.exports = {
  oninit: function() {

    
  }
};


</script>
