<link rel='ractive' href='./collection-navigation.html' name='col-navigation'>
<link rel='ractive' href='./collection-error.html' name='col-error'>
<link rel='ractive' href='./collection-actions.html' name='col-actions'>
<link rel='ractive' href='./collection-queries.html' name='col-queries'>
<link rel='ractive' href='./collection-items.html' name='col-items'>

<col-navigation collection="{{col_processed}}"/>
<main>

  <div class="page-header">
    <h1 id="title" class="">{{col_processed.title || "Gestión de FCT"}}</h1>
  </div>

  <col-error collection="{{col_processed}}"/>
  <col-queries collection="{{col_processed}}"/>
  <col-actions collection="{{col_processed}}"/>
  <col-items collection="{{col_processed}}"/>    
</main>


<script>

require('fetch');


component.exports = {
  oninit: function() {

    ins = this;

    if (typeof window !== 'undefined')
      window.onpopstate = function(event) {
	// Ajax call and update collection
	fetch(document.location.href, {
	  credentials: 'same-origin',
	  headers: {
	    'Accept': 'application/vnd.collection+json'
	  }
	})
	  .then(function(response) {
	    return response.text()
	  }).then(function(text) {
	    ins.set({'collection': JSON.parse(text).collection});
	  }).catch(function(ex) {
	    console.log('parsing failed', ex)
	  });
      };
    
    this.on( '*.nc', function ( newcol ) {
      this.set('collection', newcol);
      return false;
    });
      
    this.on( '*.httpDelete', function ( event ) {

      if(confirm("¿Seguro que desea eliminar?")===false)
	return false;
      
      var url = event.context.href;
      

      // Ajax call and update collection
      fetch(url, {
	method: 'delete',
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json'
	}
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.set({'collection': JSON.parse(text).collection});
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;

    });

    /*this.on( '*.httpPost', function ( event ) {
      var col_url = this.get('collection.href');
      var col_template = this.get('collection.template');
      var send_template = {
	template: col_template
      };
      
      ins = this;

      // Ajax call and update collection
      fetch(col_url, {
	method: 'post',
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json',
	  'Content-Type': 'application/vnd.collection+json'
	},
	body: JSON.stringify(send_template)
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.set({'collection': JSON.parse(text).collection});
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;
      

    });*/
    
    this.on( '*.followLink', function ( event ) {
      // Si el enlace tiene el atributo render y vale 'attachment'
      // Se abre el enlace normalmente
      if (event.context.render && event.context.render.indexOf('attachment') > -1) {
	//document.location.href = event.context.href;
	window.open(event.context.href, '_blank');
	return false;
      }

      var url = event.context.href;


      // Ajax call and update collection
      fetch(url, {
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json'
	}
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.set({'collection': JSON.parse(text).collection});
	  history.pushState(null, ins.get('collection.title'), url);
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;

    });

    this.on( '*.httpQuery', function ( event ) {
      var query = event.context.href + "/?";
      var q = 0;
      for (var i in event.context.data) {
	var o = event.context.data[i];
	if (o.name && o.name!=='') {
	  if(q++!==0) {
	    query += "&";
	  }
	  query += o.name+"="+encodeURI(o.value);
	}
      }

      // Si la query tiene el atributo render y vale 'attachment'
      // Se abre el enlace normalmente
      if (event.context.render && event.context.render.indexOf('attachment') > -1) {
	//document.location.href = query;
	window.open(query, '_blank');
	return false;
      }
      

      // Ajax call and update collection
      fetch(query, {
	credentials: 'same-origin',
	headers: {
	  'Accept': 'application/vnd.collection+json'
	}
      })
	.then(function(response) {
	  return response.text()
	}).then(function(text) {
	  ins.set({'collection': JSON.parse(text).collection});
	  history.pushState(null, ins.get('collection.title'), query);
	}).catch(function(ex) {
	  console.log('parsing failed', ex)
	});

      return false;
      

    });
    
  },

  computed: {
    col_processed: {
      get: function () {
	var cp = {};
	
	var c = this.get('collection');

	cp.title = c.title;
	cp.version = c.version;
	cp.href = c.href;
	cp.links = c.links;
	cp.items = c.items;
	cp.template = c.template;
	cp.error = c.error;

	// Added properties for links rel attributes
	cp.navLinks = [];
	cp.type = "";
	cp.profile = "";
	cp.headerLinks = [];
	cp.embeddedLinks = [];
	cp.attachedLinks = [];
	cp.templateLinks = [];

	// Added property for queries searchids
	cp.queries = [];
	cp.searchid_queries = [];

	// Process and filter Links by rel attribute
	if(c.links) {
	  
	  coll = c.links;
	  for(var k in coll) {
	    var link = coll[k];

	    if(isHeaderLink(link)===true) {
	      cp.headerLinks.push(link);
	      continue;
	    }

	    // Store collection profile
	    if(isProfileLink(link)===true) {
	      cp.profile = link.href;
	      continue;
	    }

	    // Store collection type
	    if(isTypeLink(link)===true) {
	      // Type link is in format profile#type
	      cp.type = link.href.substr(link.href.indexOf('#')+1);
	      continue;
	    }
	    
	    // render embedded images, if asked
	    if(isImage(link)===true) {
	      cp.embeddedlinks.push(link);
	    }
	    else if(isAttachment(link)===true) {
	      cp.attachedLinks.push(link);
	    } else if(isTemplateLink(link)===true) {
	      cp.templateLinks.push(link);		    
	    }
	    else {
	      // Nav links
	      cp.navLinks.push(link);
	    }
	    
	  }
	}

	// Process and filter Queries by rel attribute
	if(c.queries) {
	  
	  coll = c.queries;
	  for(var k in coll) {

	    var query = coll[k];

	    // Search by id. We will render this queries as checkboxes with buttons
	    if(isSearchId(query)===true) {
	      cp.searchid_queries.push(query);
	    } else {
	      cp.queries.push(query);
	    }
	  }
	}
	
	return cp;
      },
      set: function (col_processed) {
	this.set('collection', col_processed);
      }
    }
  }
};


// Aux functions
function isHeaderLink(link) {
  var rtn = false;
  if(link.render && (link.render==="none" || link.render==="hidden" || link.rel==="stylesheet")) {
    rtn = true;
  }
  return rtn;
}
function isAttachment(link) {
  var rtn = false;
  if(link.render && link.render==="attachment") {
    rtn = true;
  }
  return rtn;
}
function isTemplateLink(link) {
  var rtn = false;
  if(link.rel && link.rel.indexOf("template")>-1) {
    rtn = true;
  }
  return rtn;
}
function isProfileLink(link) {
  var rtn = false;
  if(link.rel && link.rel==="profile") {
    rtn = true;
  }
  return rtn;
}
function isTypeLink(link) {
  var rtn = false;
  if(link.rel && link.rel==="type") {
    rtn = true;
  }
  return rtn;
}
function isReadOnly(item) {
  var rtn = false;
  if(item.readOnly && (item.readOnly==="true" || item.readOnly===true)) {
    rtn = true;
  }
  return rtn;
}
function isImage(link) {
  var rtn = false;
  if(link.render && (link.render==="image" || link.render==="embed")) {
    rtn = true;
  }
  return rtn;
}
function isSearchId(query) {
  var rtn = false;
  if(query.rel && (query.rel.indexOf('searchids') > -1)) {
    rtn = true;
  }
  return rtn;
}


</script>
